section{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #4DBDFB;
  margin: auto;
  border-radius: 25px;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header{
  font-size: 2em;
  text-align: center;
  padding-top: 25px;
}

aside{
  font-size: 1em;
  text-align: center;
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

p{
  text-align: center;
}

.dice::after {
  content: "";
  clear: both;
  display: table;
}

.leftdie{
  width: 66px;
  height: 66px;
  border: 1px black solid;
  background-color: white;
  position: relative;
  left: 104px;
  float: left;
}

.rightdie{
  width: 66px;
  height: 66px;
  border: 1px black solid;
  background-color: white;
  position: relative;
  left: 164px;
  float: left;
}

button{
  position: relative;
  width: 80px;
  height: 25px;
  left: 160px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: white;
  border: solid black 1px;
  font-size: .85em;
}

footer{
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  margin-top: 25px
}

.pip{
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.5s;
}

#pip1{
  display: none:
}

#pip2{
  display: none;
}

#pip3{
  display: none;
}

#pip4{
  display: none;
}

#pip5{
  display: none;
}

#pip6{
  display: none;
}
