section{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #DECDF5;
  margin: auto;
  border-radius: 25px;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-shadow: 10px 10px 25px 1px black;
}

header{
  font-size: 2em;
  text-align: center;
  padding-top: 25px;
}

aside{
  font-size: 1em;
  text-align: center;
  position: relative;
  height: 30px;
  margin-bottom: 10px;
}

p{
  text-align: center;
}

.dice::after {
  content: "";
  clear: both;
  display: table;
}

.leftdie{
  width: 66px;
  height: 66px;
  border: 1px black solid;
  background-color: white;
  position: relative;
  left: 104px;
  float: left;
  border-radius: 10px;
}

.rightdie{
  width: 66px;
  height: 66px;
  border: 1px black solid;
  background-color: white;
  position: relative;
  left: 164px;
  float: left;
  border-radius: 10px;
}

button{
  position: relative;
  width: 80px;
  height: 25px;
  left: 160px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: #F8F1FF;
  border: solid black 1px;
  font-size: .85em;
}

footer{
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  margin-top: 25px
}

.pip{
  background-color: black;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: 0.1s;
  position: relative;
}

#leftpip1{
  display: none;
}

#leftpip2{
  display: none;
}

#leftpip3{
  display: none;
}

#leftpip4{
  display: none;
}

#leftpip5{
  display: none;
}

#leftpip6{
  display: none;
}

#rightpip1{
  display: none;
}

#rightpip2{
  display: none;
}

#rightpip3{
  display: none;
}

#rightpip4{
  display: none;
}

#rightpip5{
  display: none;
}

#rightpip6{
  display: none;
}
